<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <!-- Глушим инфраструктурные логи ASP.NET Core (Kestrel, маршрутизация, результаты HTTP и хостинг) -->
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Trace" maxlevel="Fatal" final="true" />
    <logger name="Microsoft.AspNetCore.Server.Kestrel.*" minlevel="Trace" maxlevel="Fatal" final="true" />
    <logger name="Microsoft.AspNetCore.Routing.*" minlevel="Trace" maxlevel="Fatal" final="true" />
    <logger name="Microsoft.AspNetCore.Http.Result.*" minlevel="Trace" maxlevel="Fatal" final="true" />

    <!-- Более подробные логи для парсинга и фильтров -->
    <logger name="PepperBot.Infrastructure.Pepper.PepperClient" minlevel="Debug" writeTo="console" />
    <logger name="PepperBot.Application.Services.DealService" minlevel="Debug" writeTo="console" />
    <!-- Общий уровень для остальных логгеров -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>

</nlog>

